body {
    background: linear-gradient(112.87deg, #73D0B1 0%, #2FBDBD 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

#header-content {
    margin-top: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-text {
        text-align: center;
        .header-btn {
            background: linear-gradient(94.79deg, #A257FE 0%, #D776FF 100%);
            border: none;
            color: #fff;
            &:hover {
                opacity: 0.7;
            }
        }
        h1 {
            font-weight: 800;
            font-size: 70px;
            line-height: 93px;
            letter-spacing: 0.1em;
            color: #ffffff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
            padding-bottom: 10px;
        }
        h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #ffffff;
        }
        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #ffffff;
            padding: 20px 0;
        }
    }
    .header-img {
        width: 518px;
        height: 518px;
        background: linear-gradient(134.4deg, #C22379 0%, rgba(35, 127, 194, 0.5) 98.97%);
        box-shadow: 0px 4.15444px 4.15444px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
    }
    /*carosel*/
    #carouselExampleSlidesOnly {
        .carousel-display {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img {
                max-width: 100%;
            }
            p {
                font-weight: 800;
                font-size: 35px;
                line-height: 43px;
                text-align: center;
                letter-spacing: 0.05em;
                background: linear-gradient(180deg, #FFFFFF 0%, #333333 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}