@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
    color: #ffff;
}

p {
    margin-bottom: 0;
}

.header-btn {
    display: inline-block;
    margin-top: 40px;
    background-color: transparent;
    padding: 15px 45px;
    border: 2px solid #FF4242;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FF4242;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: #FF4242;
        color: #FFFFFF;
    }
}