    header {
        width: 100%;
        position: relative;
    }
    
    nav.active {
        background: linear-gradient(112.87deg, #73D0B1 0%, #2FBDBD 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    nav {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        height: 70px;
        padding: 0 100px;
        z-index: 99;
        .menu-content {
            display: flex;
            align-items: center;
            gap: 70px;
        }
        .nav-items {
            display: flex;
        }
        .nav-items li {
            padding: 0 15px;
        }
        .nav-items li a {
            font-size: 20px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            transition: color .3s ease-in-out;
            position: relative;
        }
        .nav-items li a:hover {
            color: #843ADE;
        }
        .nav-items li a.active {
            color: #843ADE;
        }
        .logo a {
            font-size: 50px;
            font-weight: 600;
            letter-spacing: -1px;
            color: rgb(255, 255, 255);
        }
        .menu-icon,
        .cancel-icon {
            color: rgb(255, 255, 255) !important;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            display: none;
        }
        .menu-icon span,
        .cancel-icon {
            display: none;
        }
        .down1 {
            display: none;
        }
    }
    
    .dropdown {
        margin-right: 38px;
        i {
            color: #fff;
        }
        img {
            width: 35px;
            height: 35px;
        }
        .az {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                margin-right: 3px;
            }
        }
        .rus {
            cursor: pointer;
        }
    }
    
    .dropbtn {
        cursor: pointer;
        transition: all .35s ease-in-out !important;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        margin-top: 6px;
        transition: all .35s ease-in-out !important;
    }
    
    .dropdown a:hover {
        background-color: #ddd;
    }
    
    .dropdown-content.show {
        display: block;
    }
    
    .dropdown-content-2.show {
        display: block;
    }
    
    .dropbtn.active {
        transform: rotate(180deg);
    }
    
    .dropbtn-2.active {
        transform: rotate(180deg);
    }