/*section Qalib siyahsi*/

#qalib-siyahsi.active {
    display: block;
}

#qalib-siyahsi {
    display: none;
    margin-left: 50px;
    width: 100%;
    .q-head-text {
        width: 100%;
        text-align: center;
        h1 {
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #333333;
        }
        h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.05em;
            color: #333333;
        }
    }
    .scoll-table {
        width: 100%;
        height: 600px;
        overflow-y: scroll;
        &:-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 10px;
            background-color: #ffffff49;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #2FBDBD;
        }
    }
    table {
        width: 100%;
        background: linear-gradient(180deg, #1CA7AE 5%, rgba(28, 167, 174, 0.121) 100%);
        border-radius: 10px;
        text-align: center;
        thead {
            position: sticky;
            top: 0;
            width: 100%;
        }
        .btn {
            background-color: transparent;
            color: #ffff;
        }
        td,
        th {
            padding: 13px 5px;
            color: #fff;
        }
        td {
            font-weight: 600;
        }
        .tabel-head {
            background: linear-gradient(90.38deg, #02B1BC 0%, rgb(2, 176, 188) 100%, #02B1BC 100%);
            color: #ffff;
        }
    }
}


/*accordion*/

#accordion.active {
    display: block;
}

#accordion {
    display: none;
    padding-bottom: 10px;
    .accordion-header {
        cursor: pointer;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        transition: all 0.4s ease-in-out;
    }
    .accordion-header h4 {
        font-size: 1rem;
        font-weight: 600;
        color: #400AB4;
    }
    .accordion-body {
        transition: all 0.35s ease-in-out;
        max-height: 0;
        overflow: hidden;
        background-color: #fff;
    }
    .accordion-body p {
        padding: 1rem 1.5rem;
        line-height: 1.8;
    }
    .accordion+.accordion {
        margin-top: 1rem;
    }
    .accordion-icon {
        transition: transform 0.4s ease-in-out;
        color: #ffffff;
    }
    .accordion.active .accordion-icon {
        transform: rotate(-180deg);
    }
}


/*istifade qaydalri*/

#istifadeQaydlari.active {
    display: block;
}

#istifadeQaydlari {
    display: none;
    width: 100%;
    margin-left: 60px;
    padding-bottom: 15px;
    .istifadeQaydlari-box {
        padding: 0 25px;
    }
    .header-btn {
        background: linear-gradient(180deg, #400AB4 0%, #02B1BC 100%);
        border-radius: 50px;
        margin-top: 25px;
        padding: 10px 45px;
        border: none;
        color: #ffff;
        &:hover {
            opacity: 0.7;
        }
    }
    .istfade-text {
        width: 550px;
        height: 484px;
        background: linear-gradient(119.58deg, rgba(129, 57, 185, 0.8) 0%, rgba(35, 127, 194, 0.8) 98.62%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        font-weight: 600;
        font-size: 50px;
        text-align: center;
    }
}

#carouselExampleSlidesOnly.active {
    display: block;
}

#carouselExampleSlidesOnly {
    display: none;
    margin-left: 70px;
}