/*section Qalib siyahsi*/

#qalib-siyahsi.active {
    display: block;
}

#qalib-siyahsi {
    display: none;
    margin-left: 50px;
    width: 100%;
    .q-head-text {
        width: 100%;
        text-align: center;
        h1 {
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            text-align: center;
            letter-spacing: 0.05em;
            color: #333333;
        }
        h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.05em;
            color: #333333;
        }
    }
    .scoll-table {
        width: 100%;
        height: 600px;
        overflow-y: scroll;
    }
    table {
        width: 100%;
        background: linear-gradient(180deg, #1CA7AE 5%, rgba(28, 167, 174, 0.121) 100%);
        border-radius: 10px;
        text-align: center;
        thead {
            position: sticky;
            top: 0;
            width: 100%;
        }
        .btn {
            background-color: transparent;
            color: #ffff;
        }
        td,
        th {
            padding: 13px 5px;
            color: #fff;
        }
        td {
            font-weight: 600;
        }
        .tabel-head {
            background: linear-gradient(90.38deg, #02B1BC 0%, rgb(2, 176, 188) 100%, #02B1BC 100%);
            color: #ffff;
        }
    }
}


/*accordion*/

#accordion.active {
    display: block;
}

#accordion {
    display: none;
    padding-bottom: 10px;
    .accordion-header {
        cursor: pointer;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        transition: all 0.4s ease-in-out;
        position: relative;
    }
    .accordion-header h4 {
        font-size: 1rem;
        font-weight: 600;
        color: #400AB4;
    }
    .accordion-body {
        transition: all 0.35s ease-in-out;
        max-height: 0;
        overflow: hidden;
        background-color: #fff;
    }
    .accordion-body p {
        padding: 1rem 1.5rem;
        line-height: 1.8;
    }
    .accordion+.accordion {
        margin-top: 1rem;
    }
    .accordion-icon {
        transition: transform 0.4s ease-in-out;
        color: #ffffff;
    }
    .accordion.active .accordion-icon {
        transform: rotate(-180deg);
    }
}

//     width: 100%;
//     height: 100%;
//     margin-left: 50px;
//     .transition,
//     ul li i:before,
//     ul li i:after,
//     p {
//         transition: all 0.25s ease-in-out;
//     }
//     .flipIn,
//     ul li,
//     h1 {
//         animation: flipdown 0.5s ease both;
//     }
//     .no-select,
//     h2 {
//         -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//         -webkit-touch-callout: none;
//         -webkit-user-select: none;
//         -khtml-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         user-select: none;
//     }
//     h1,
//     h2 {
//         color: #ff6873;
//     }
//     h2 {
//         font-weight: 400;
//         font-size: 17.5px;
//         line-height: 18px;
//         letter-spacing: 1px;
//         color: #400AB4;
//         cursor: pointer;
//         display: block;
//         margin: 0;
//         line-height: 34px;
//     }
//     p {
//         color: rgb(48, 69, 92);
//         font-size: 17px;
//         line-height: 26px;
//         letter-spacing: 1px;
//         position: relative;
//         overflow: hidden;
//         max-height: 800px;
//         opacity: 1;
//         transform: translate(0, 0);
//         margin-top: 14px;
//         z-index: 2;
//         background-color: #fff;
//     }
//     ul {
//         list-style: none;
//         perspective: 900;
//         padding: 0;
//         margin: 0;
//     }
//     ul li {
//         position: relative;
//         padding: 0;
//         margin: 0;
//         padding-bottom: 4px;
//         padding-top: 18px;
//         border-top: 1px dotted #dce7eb;
//         margin-top: 15px;
//         &:first-child {
//             border-top: none;
//         }
//     }
//     ul li:nth-of-type(1) {
//         animation-delay: 0.5s;
//     }
//     ul li:nth-of-type(2) {
//         animation-delay: 0.75s;
//     }
//     ul li:nth-of-type(3) {
//         animation-delay: 1s;
//     }
//     ul li:last-of-type {
//         padding-bottom: 0;
//     }
//     ul li i {
//         position: absolute;
//         transform: translate(-6px, 0);
//         margin-top: 16px;
//         right: 0;
//     }
//     ul li i:before,
//     ul li i:after {
//         content: "";
//         position: absolute;
//         background-color: #c0c0c0;
//         width: 3px;
//         height: 9px;
//     }
//     ul li i:before {
//         transform: translate(-2px, 0) rotate(45deg);
//     }
//     ul li i:after {
//         transform: translate(2px, 0) rotate(-45deg);
//     }
//     ul li input[type=checkbox] {
//         position: absolute;
//         cursor: pointer;
//         width: 100%;
//         height: 100%;
//         z-index: 1;
//         opacity: 0;
//     }
//     ul li input[type=checkbox]:checked~p {
//         margin-top: 0;
//         max-height: 0;
//         opacity: 0;
//         transform: translate(0, 50%);
//     }
//     ul li input[type=checkbox]:checked~i:before {
//         transform: translate(2px, 0) rotate(45deg);
//     }
//     ul li input[type=checkbox]:checked~i:after {
//         transform: translate(-2px, 0) rotate(-45deg);
//     }
//     @keyframes flipdown {
//         0% {
//             opacity: 0;
//             transform-origin: top center;
//             transform: rotateX(-90deg);
//         }
//         5% {
//             opacity: 1;
//         }
//         80% {
//             transform: rotateX(8deg);
//         }
//         83% {
//             transform: rotateX(6deg);
//         }
//         92% {
//             transform: rotateX(-3deg);
//         }
//         100% {
//             transform-origin: top center;
//             transform: rotateX(0deg);
//         }
//     }
// }

/*istifade qaydalri*/

#istifadeQaydlari.active {
    display: block;
}

#istifadeQaydlari {
    display: none;
    width: 100%;
    margin-left: 60px;
    padding-bottom: 15px;
    .istifadeQaydlari-box {
        padding: 0 25px;
    }
    .header-btn {
        background: linear-gradient(180deg, #400AB4 0%, #02B1BC 100%);
        border-radius: 50px;
        margin-top: 25px;
        padding: 10px 45px;
        border: none;
        color: #ffff;
        &:hover {
            opacity: 0.7;
        }
    }
    .istfade-text {
        width: 630px;
        height: 484px;
        background: linear-gradient(119.58deg, rgba(129, 57, 185, 0.8) 0%, rgba(35, 127, 194, 0.8) 98.62%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        font-weight: 600;
        font-size: 50px;
        text-align: center;
    }
}

#carouselExampleSlidesOnly.active {
    display: block;
}

#carouselExampleSlidesOnly {
    display: none;
    margin-left: 70px;
}